body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
#display{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 80px;
}
#content {
    background-color: grey;
    width: 500px;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
}

#display {
    background-color: white;
    flex: 1;
}

#grid {
    background-color: red;
    flex: 4;
    display: flex;
    flex-wrap: wrap;
}

.block {
    /* flex-grow: 1; */
    width: 25%;
    /* 100/4  */
}
.number{
    background-color: cyan;
}
.operator{
background-color: yellow;
}