body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#display {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 80px;
}

#content {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    width: 500px;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
}

#display {
    background-color: white;
    border-radius: inherit;
    flex: 1;
}

#grid {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
}

.block {
    background-color: rgba(255, 255, 255, 0.75);
    width: 25%;
    border-radius: 10px;
    font-size: large;
    transition: 0.5s;
}

.number {
    background-color: rgba(0, 255, 255, 0.75);
}

.operator {
    background-color: rgba(255, 255, 0, 0.75);
}